*,::before,::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #ececee;
    overflow-x: hidden;
}
/* ! Global Basic Must Style End */
.main_body_container{
    max-width: 1080px;
    height: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    /* border: 2px solid #000000; */
}
/* ! Main Container layout Style End */


.space{
    width: 100%;
    height: 60rem;
} 